@model Intex2.Models.FieldBook

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string id = (string)ViewBag.id;
}
<div class="container shadow bg-white m-2 p-2">

<!-- Creates a new Field notes for a specific burial id -->

<h1>Add a Field Book Reference</h1>

    <h4>Reference for @id</h4>
    <hr />


    <form asp-action="CustomCreate">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.FieldBook1" class="control-label"></label>
            <input asp-for="@Model.FieldBook1" class="form-control" placeholder="Field Book Number" />
            <span asp-validation-for="@Model.FieldBook1" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.FieldBookPageNumber" class="control-label"></label>
            <input asp-for="@Model.FieldBookPageNumber" class="form-control" placeholder="Page Number" />
            <span asp-validation-for="@Model.FieldBookPageNumber" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="@Model.BurialId" value="@id" />

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>

    <div>
        <a class="btn btn-secondary" asp-action="RecordDetails" asp-route-id="@id">Back to References</a>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
