@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewBag.Photo = "https://elasticbeanstalk-us-east-1-891046424969.s3.amazonaws.com/Photos/notfound.png";
}

@model BurialListViewModel

<style>
    body 
    {
        background-color: #E9ECEF;
    }
</style>
<div class="row justify-content-md-center">
    <div class="col-md-2 text-center">
        <div class="ml-4 my-0 py-0">
            <br />
            <br />
            <form asp-action="AdvancedFiltering" method="post">

                <div class="form-group">
                    <label asp-for="@Model.FilterItems.BurialId">Burial ID</label>
                    <input class="form-control" type="text" asp-for="@Model.FilterItems.BurialId" />
                </div>

                <div class="form-group">
                    <label asp-for="@Model.FilterItems.Sex">Sex:</label>
                    <select asp-for="@Model.FilterItems.Sex" class="form-control">
                        <option value="ALL">All</option>
                        <option value="F">Female (F)</option>
                        <option value="M">Male (M)</option>
                        <option value="D">Disputed (D)</option>
                        <option value="U">Unknown (U)</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.FilterItems.HairColorCode">Hair Color:</label>
                    <select asp-for="@Model.FilterItems.HairColorCode" class="form-control">
                        <option value="ALL">All</option>
                        <option value="B">Brown (B)</option>
                        <option value="K">Black (K)</option>
                        <option value="A">Brown-Red (A)</option>
                        <option value="R">Red/Red-BI (R)</option>
                        <option value="D">Blond (D)</option>
                        <option value="U">Unknown (U)</option>
                        <option value="LB">Light Brown (LB)</option>
                        <option value="DB">Dark Brown (DB)</option>

                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.FilterItems.Length">Length:</label>
                    <select asp-for="@Model.FilterItems.Length" class="form-control">
                        <option value="0.00">> 0 Meters</option>
                        <option value="0.50">> 0.5 Meters</option>
                        <option value="1.00">> 1 Meter</option>
                        <option value="1.50">> 1.5 Meters</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.FilterItems.Depth">Depth:</label>
                    <select asp-for="@Model.FilterItems.Depth" class="form-control">
                        <option value="0.00">> 0 Meters</option>
                        <option value="0.50">> 0.5 Meters</option>
                        <option value="1.00">> 1 Meter</option>
                        <option value="1.50">> 1.5 Meters</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.FilterItems.Area">Area:</label>
                    <select asp-for="@Model.FilterItems.Area" class="form-control">
                        <option value="ALL">All</option>
                        <option value="NE">NE</option>
                        <option value="NW">NW</option>
                        <option value="SE">SE</option>
                        <option value="SW">SW</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.FilterItems.BDirection">Burial Direction:</label>
                    <select asp-for="@Model.FilterItems.BDirection" class="form-control">
                        <option value="ALL">All</option>
                        <option value="E">East</option>
                        <option value="W">West</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.FilterItems.EorW">East or West:</label>
                    <select asp-for="@Model.FilterItems.EorW" class="form-control">
                        <option value="ALL">All</option>
                        <option value="E">East</option>
                        <option value="W">West</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.FilterItems.NorS">North or South:</label>
                    <select asp-for="@Model.FilterItems.NorS" class="form-control">
                        <option value="ALL">All</option>
                        <option value="N">North</option>
                        <option value="S">South</option>
                    </select>
                </div>



                <button type="submit" class="btn btn-primary">Filter</button>

                <a asp-action="AdvancedFiltering" asp-route-id="" class="btn btn-primary">Clear</a>
                <br />

            </form>
        </div>
    </div>

    <div class="col-md-10">
        <div class="m-2">
            <table class="table bg-white shadow rounded table-striped table-hover table-responsive-lg mx-2 p-2">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Burial ID</th>
                        <th scope="col">Sex</th>
                        <th scope="col">Hair</th>
                        <th scope="col">Length</th>
                        <th scope="col">Depth</th>
                        <th scope="col">Area</th>
                        <th scope="col">Burial Direction</th>
                        <th scope="col">East/West</th>
                        <th scope="col">North/South</th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var mummy in Model.Burials)
                    {

                    <tr>
                        <td>@mummy.BurialId</td>
                        <td>@mummy.GenderCode</td>
                        <td>@mummy.HairColorCode</td>


                        @{ if (mummy.LengthM != null)
                            {
                                <td> @Math.Round((decimal)mummy.LengthM, 2)</td>
                            }

                            else
                            {
                                <td></td>
                            }

                            if (mummy.BurialDepth != null)
                            {
                                <td>@Math.Round((decimal)mummy.BurialDepth, 2)</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }

                        <td>@mummy.Square</td>
                        <td>@mummy.BurialDirection</td>
                        <td>@mummy.EastOrWest</td>
                        <td>@mummy.NorthOrSouth</td>
                        <td>
                            <a class="text-center btn btn-primary" asp-area="" asp-route-id="@mummy.BurialId" asp-controller="BurialCrud" asp-action="Details">Details</a>

                            @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                            {
                                <a class="text-center btn btn-secondary" asp-controller="BurialCrud" asp-action="Edit" asp-route-id="@mummy.BurialId">Edit</a>}

                            @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                            {
                                <a class="text-center btn btn-danger" asp-controller="BurialCrud" asp-action="Delete" asp-route-id="@mummy.BurialId">Delete</a>}
                        </td>
                    </tr>
                    }
                </tbody>


            </table>
        </div>

    </div>
</div>
<br />
<br />
<br />
<br />
<br />
