@model Intex2.Models.Burial

@{ ViewData["Title"] = "Delete";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


<h1>Delete Confirmation</h1>

<h3>Are you sure you want to delete this record?</h3>
<div>


    <div class="tabs shadow">
        <input type="radio" name="tabs" id="tabone" checked="checked">
        <label class="label" for="tabone">Exhumation Data Entry</label>
        <div class="tab">

            <h1>Deleting Record for @Model.BurialId</h1>

            <p><i>This section contains the main data from the initial exhumation</i></p>

            <h2>Burial ID</h2>

            <div class="row">

                <div class="col-md-4">
                    <!--North or South-->
                    <h5>North or South: @Model.NorthOrSouth</h5>
                </div>

                <div class="col-md-4">
                    <!--This is the NS Low ID (i.e. the 140 in 140/150-->
                    <h5>NS Low Position: @Model.NsLowPosition</h5>
                </div>

                <div class="col-md-4">
                    <!--This is the NS High ID (i.e. the 150 in 140/150) this field will be hidden-->
                    <h5>NS High Position: @Model.NsHighPosition</h5>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4">
                    <!-- East or West -->
                    <h5>East or West: @Model.EastOrWest</h5>
                </div>

                <div class="col-md-4">
                    <!--This is the EW Low ID (i.e. the 40 in 40/50)-->
                    <h5>EW Low Position: @Model.EwLowPosition</h5>
                </div>

                <div class="col-md-4">
                    <!--This is the EW High ID (i.e. the 50 in 40/50)-->
                    <h5>EW High Position: @Model.EwHighPosition</h5>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4">
                    <!-- Area (NW, NE, SW, SE) -->
                    <h5>Area: @Model.Square</h5>
                </div>


                <div class="col-md-6">
                    <!-- Burial Number -->
                    <h5>Burial Number: @Model.BurialNumber</h5>
                </div>

            </div>

            <br />

            <h2>Metrics</h2>

            <div class="row">

                <div class="col-md-4">
                    <h5>Burial South to Head: @Model.BurialSouthToHead</h5>
                </div>

                <div class="col-md-4">
                    <h5>Burial South to Feet: @Model.BurialSouthToFeet</h5>
                </div>

                <div class="col-md-4">
                    <h5>Burial Length (Meters): @Model.LengthM</h5>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4">
                    <h5>Burial West to Head: @Model.BurialWestToHead </h5>
                </div>

                <div class="col-md-4">
                    <h5>Burial West to Feet: @Model.BurialWestToFeet</h5>
                </div>


                <div class="col-md-4">
                    <h5>Burial Depth: @Model.BurialDepth</h5>
                </div>

            </div>

            <br />

            <h2>Observations</h2>

            <div class="row">

                <div class="col-md-6">
                    <h5>General Notes: <br /> <i>@Model.OtherNotes</i> </h5>
                    <br />
                    <h5>Osteology Notes: @Model.OsteologyNotes</h5>
                </div>
            </div>
            <div class="row justify-content-md-center">

                <a class="btn btn-primary" asp-controller="BurialCrud" asp-action="Index">Back to List</a>
                
                @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                {
                    <form asp-action="DeleteConf">
                    <input type="hidden" asp-for="BurialId" name="id"/>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                 }
            </div>

         </div>
    
    </div>

    <br />

</div>