@model BurialListViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string bid = Model.burial.BurialId;
}
    
<style>
    body {
        background-color: #E9ECEF;
    }
</style>
<br />

<div class="container m-3 p-3">
    <div class="card col-md-6 shadow mb-3">
            <h4>Add a Photo</h4>
            <hr />
            <div class="row">

                    <form method="post" asp-controller="PhotosCrud" asp-action="SavePhoto" enctype="multipart/form-data">
                            <div class="col-md-6 form-inline">
                                <label class="col-form-label form-group form-inline" asp-for="@Model.ImageUpload.file">UPLOAD</label>
                                <input class="form-group form-inline" type="file" asp-for="@Model.ImageUpload.file" />
                            </div>

                        <input hidden type="text" asp-for="@Model.ImageUpload.BurialId" value="@bid" />

                        <br />
                        <div class="row justify-content-md-center">
                                <button class="btn btn-primary m-1 p-1" type="submit">Submit</button>
                                <a class="btn btn-secondary m-1 p-1" asp-controller="BurialCrud" asp-action="Details" asp-route-id="@bid">Return to Burial Details</a>
                        </div>
                     
                    </form>
                    
            </div>
     </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}