@model Intex2.Models.C14

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- This page is a delete confirmation, so you don't delete things that are important and feel like an idiot -->

<div class="text-center">
    <h1>Delete Confirmation</h1>

    <h3>Are you sure you want to delete this?</h3>
</div>


<div class="card shadow mb-3" style="max-width: auto">
    <div class="card header text-center">
        <h3>Carbon Dating Data on Rack @Model.Rack</h3>
    </div>
    <div class="row justify-content-md-center">

        <h5 class="m-1 p-1 col-md-3">Tube Number: @Model.Tube</h5>
        <h5 class="m-1 p-1 col-md-3">Description: @Model.Description</h5>
        <h5 class="m-1 p-1 col-md-3">Questions: @Model.QuestionS</h5>

    </div>

    <div class="row justify-content-md-center">

        <h5 class="m-1 p-1 col-md-3">Size (ml): @Model.SizeMl</h5>
        <h5 class="m-1 p-1 col-md-3">Foci: @Model.Foci</h5>
        <h5 class="m-1 p-1 col-md-3">C14 Model 2017: @Model.C14Sample2017</h5>
    </div>

    <div class="row justify-content-md-center">

        <h5 class="m-1 p-1 col-md-3">Location: @Model.Location</h5>
        <h5 class="m-1 p-1 col-md-3">Conventional 14C age BP: @Model.Conventional14cAgeBp</h5>
        <h5 class="m-1 p-1 col-md-3">14C Calendar Date: @Model._14cCalendarDate</h5>

    </div>
    <div class="row justify-content-md-center">

        <h5 class="m-1 p-1 col-md-3">Calibrated 95% Calendar Date Max: @Model.Calibrated95CalendarDateMax</h5>
        <h5 class="m-1 p-1 col-md-3">Calibrated 95% Calendar Date MIN: @Model.Calibrated95CalendarDateMin</h5>
        <h5 class="m-1 p-1 col-md-3">Calibrated 95% Calendar Date SPAN: @Model.Calibrated95CalendarDateSpan</h5>

    </div>

    <div class="row justify-content-md-center">

        <h5 class="m-1 p-1 col-md-3">Calibrated 95% Calendar Date AVG: @Model.Calibrated95CalendarDateAvg</h5>
        <h5 class="m-1 p-1 col-md-3">Category: @Model.Category</h5>
        <h5 class="m-1 p-1 col-md-3">Notes: @Model.Notes</h5>

    </div>

    <hr />
    <div class="row justify-content-md-center">

        <form asp-action="Delete">
            <div class="row justify-content-md-center">
                <input type="submit" value="Delete" class="btn btn-danger m-1" />
                <a class="btn btn-secondary m-1" asp-action="RecordDetails" asp-route-id="@Model.BurialId">Back to List</a>
            </div>
        </form>
    </div>
    <br />

</div>

        