@model IEnumerable<C14>

@{  
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="m-2 p-2">
    <table class="table table-responsive bg-white shadow table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Burials with this Data</th>
                <th scope="col">BurialId </th>
                <th scope="col">Rack</th>
                <th scope="col">Tube</th>
                <th scope="col">Size(ml)</th>
                <th scope="col">Foci</th>
                <th scope="col">C14 Sample 2017</th>
                <th scope="col">Location</th>
                <th scope="col">Questions</th>
                <th scope="col">Conventional 14C AgeBp</th>
                <th scope="col">14C Calendar Date</th>
                <th scope="col">Calibrated Calendar Date Max</th>
                <th scope="col">Calibrated Calendar Date Min</th>
                <th scope="col">Calibrated Calendar Date Span</th>
                <th scope="col">Calibrated Calendar Date Avg</th>
                <th scope="col">Category </th>
                <th scope="col">Notes</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="btn btn-primary" asp-controller="BurialCrud" asp-action="Details" asp-route-id="@item.BurialId">Details</a>
                    </td>
                    <td>@item.BurialId</td>
                    <td>@item.Rack</td>
                    <td>@item.Tube</td>
                    <td>@item.SizeMl</td>
                    <td>@item.Foci</td>
                    <td>@item.C14Sample2017</td>
                    <td>@item.Location</td>
                    <td>@item.QuestionS</td>
                    <td>@item.Conventional14cAgeBp</td>
                    <td>@item._14cCalendarDate</td>
                    <td>@item.Calibrated95CalendarDateMax</td>
                    <td>@item.Calibrated95CalendarDateMin</td>
                    <td>@item.Calibrated95CalendarDateSpan</td>
                    <td>@item.Calibrated95CalendarDateAvg</td>
                    <td>@item.Category</td>
                    <td>@item.Notes</td>

                </tr>
            }

        </tbody>

    </table>
</div>
