@model PhotosViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string printId;
    if (Model.Photos.Count() != 0)
    {
        printId = "Photos for " + Model.Burial.BurialId;

    }
    else
    {
        printId = "There are no photos for " + Model.Burial.BurialId;
    }
    }

<!-- Returns the details for all the photos for a particular burial id -->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>


<style>
    body {
        background-color: #E9ECEF;
    }
</style>
<br />


<div class="card shadow mb-3" style="max-width: auto">
    <div class="container m-3 p-2">
        <h1>@printId</h1>
        <hr />
        <div class="row">
            @foreach (var x in Model.Photos)
            {

                ViewBag.PhotoId = "https://elasticbeanstalk-us-east-1-891046424969.s3.amazonaws.com/Photos/" + @x.PhotoId;

                <div class="col-sm-6 p-3">
                    <img class="img-fluid" src="@ViewBag.PhotoId" width="500" />
                    <br />
                    <br />
                    <div class="text-center">
                        @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                        {
                            <a class="btn btn-danger" asp-action="Delete" asp-controller="PhotosCrud" asp-route-id="@x.Id">Delete</a>
                        }
                    </div>
                    <br />
                    <br />
                </div>

            }
        </div>
        <div class="row">
            <a class="btn btn-primary m-1 p-1" asp-controller="BurialCrud" asp-action="Details" asp-route-id="@Model.Burial.BurialId">Back to Details</a>
            <a class="btn btn-secondary m-1 p-1" asp-controller="BurialCrud" asp-action="UploadPhoto" asp-route-id="@Model.Burial.BurialId">Upload a Photo</a>
        </div>
    </div>
</div>
</body>
</html>
