@model IEnumerable<Intex2.Models.Photo>

@{
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<!-- This view returns all the photos -->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhotoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burial.BurialId)
            </td>
            <td>
                @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> <span>|</span>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, "RequireResearcherRole")).Succeeded)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                }

                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
